<?xml version="1.0" encoding="UTF-8"?>
<!-- Author Chin -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.framework.team2.dao.AmInfoMapper">

	<select id="findWorkingDays"
		resultType="com.ssm.framework.team2.entity.AmData">
		SELECT LEFT(CALENDAR_DATE, 6) AS '年月', COUNT(年月)
		FROM CALENDAR_DATE
		<where>DEL_FLG = 0 AND HOLIDAY_FLG = 0
			AND LEFT(CALENDAR_DATE, 6) =
			#{WorkingDays}
		</where>
		GROUP BY LEFT(CALENDAR_DATE, 6)
	</select>

	<select id="findattendanceDays"
		resultType="com.ssm.framework.team2.entity.AmData">
		SELECT LEFT(CALENDAR_DATE, 6) AS '年月', COUNT(年月)
		FROM CALENDAR_DATE
		<where>HOLIDAY_FLG = 0 WORKING_HOURS != 0
			AND LEFT(CALENDAR_DATE, 6) =
			#{WorkingDays}
		</where>
		GROUP BY LEFT(CALENDAR_DATE, 6)
	</select>

	<select id="findAInfo"
		resultType="com.ssm.framework.team2.entity.AmData">

		SELECT LEFT（CALENDAR_DATE,6),SUM(ABSENCE_HOURS) ,SUM(WORKING_HOURS),
		SUM(OVERTIME_HOURS)FROM T_ATTENDANCE
		<where>
			del_flg = 0
			<if test="absentHours != null and absentHours !=''">
				and SUM(ABSENCE_HOURS) =#{absentHours}
			</if>
			<if test="workingHours != null and workingHours != ''">
				and SUM(WORKING_HOURS) =#{workingHours}
			</if>
			<if test="overtimeHours != null and overtimeHours !=''">
				and SUM(OVERTIME_HOURS) =#{overtimeHours}
			</if>
		</where>
		GROUP BY LEFT（CALENDAR_DATE,6) ;
	</select>
	
	<insert id="add">
		INSERT INTO T_ATTENDANCE
		(EMPLOYEE_ID,
		ATTENDANCE_DATE,
		START_TIME, END_TIME,
		REST_HOURS, WORKING_HOURS,
		OVERTIME_HOURS, ABSENCE_HOURS,
		STATUS_ID, REMARKS)
		VALUES
		(#{employeeId}, #{attendanceDate}, #{startTime},
		#{endTime}, #{restHours}, #{workingHours},
		#{overtimeHours}, #{absenceHours}, #{statusId}, #{remarks})
	</insert>
</mapper>

        
        
        