<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.framework.team2.dao.InfoMapper">


	<select id="findAInfo"
		resultType="com.ssm.framework.team2.entity.AMData">
		SELECT LEFT（年月日,6) AS 年月 COUNT（年月）FROM CALENDAR_DATE WHERE 削除フラぐ=0 AND
		休日フラぐ＝0 GROUP BY LEFT（年月日,6)

		select*from user_info
		<where>
			del_flg = 0
			<if test="userId != null and userId !=''">
				and user_id =#{userId}
			</if>
			<if test="userName != null and userName != ''">
				and user_name LIKE CONCAT('%', #{userName}, '%')
			</if>
			<if test="userGender != null and userGender !=''">
				and user_gender =#{userGender}
			</if>
		</where>

	</select>

</mapper>
        
        
        