.mes,.bot{
	width:1000px;
	padding:15px;
}
.mes{
	height:450px;
}
.bot{
	height:100px;
}
.tablebox{
	width:67%;
}
.tablebox th{
	text-align:left;
	vertical-align:middle;
    padding-left:30px;
}
.tablebox td{
	height:50px; 
	line-height:50px; 
	vertical-align:middle;
}
.input-long,.input-tel,.input-age,.select-dep,.select-year,.select-md{
	height:25px;
}
.input-long{
	width:70%;
}
.input-tel,.select-dep{
	width:120px;
}
.input-age,.select-year{
	width:60px;
}
.select-md{
	width:40px;
}
.bu-create,.bu-close{
	float:right; 
	width:200px;
	height:50px; 
	padding:25px 50px 25px 25px;
}
.bu-close{
	display:clock;
}
.button{
	background-color:gray;
	width:120px;
    height:50px;
    line-height:44px;
    text-align:center;
    font-size:20px;
    color:black;
    border-radius:4px;
    margin: 0 auto 10px;

}