<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.ssm.framework.team1.dao.ListMapper" >
	<select id="findall" resultType="com.ssm.framework.team1.entity.Employee">
		SELECT * FROM T_EMPLOYEE WHERE del_flg = 0;
	</select>
	
	<select id="findEmployees" resultType="com.ssm.framework.team1.entity.Employee">
		SELECT * FROM T_EMPLOYEE 
		<where>
			del_flg = 0
			<if test="employeeId !=null and employeeId !=''">
				AND EMPLOYEE_ID = #{employeeId}
			</if>
		</where> 
	</select>
	
</mapper>